@import url("reset.css");



body { 
	font-family: Arial, Helvetica;
	font-size: 13px;
	width:100%;
	 }
a { 
	text-decoration: none; 
	outline: none;
}

ul.categories li { display: inline; padding-left: 5px; margin-right: 3px; border-left: solid 1px gray; }
ul.categories li:first-child { border: 0; padding-left: 0px;}
ul.categories li.active a { font-weight: bold; border-bottom: 1px gray dotted; }


p { 
	margin-bottom: 12px; }
p img { 
	float: right; 
	margin: 10px 0px 10px 10px; }
hr {
	border: 0;
	background: 0;
	border-bottom: 1px solid #282828;
}

#body-wrap {
    max-width: 90%;
    padding-left: 5%;
}

#header-wrap { 
	width: 100%;
	background: #0c0c0c; 
	overflow: auto;
}
#header {
	width: 960px;
	margin: 0 auto;

	}
#header h1 {
	font-size: 25px;
	float: left;
	padding: 15px 0px 15px;
	}
#header #site-navigation {
	list-style-type: none;
	float: right;
	margin: 75px 0px 5px 0px;
	}
#header #site-navigation li {
	display: inline;
	margin-right: 45px; 
	max-width: 90px;
	text-transform: uppercase;
	font-weight: bold;
       }
	
		
#contentwrap {
	width: 960px;
	margin: 0 auto;
	padding-top: 45px;
	margin-bottom: 75px; 
	}
#left-content { 
	width: 645px; 
	float: left; }
#right-content { 
	width: 275px;
	float: right; }

#introduction {
	padding-bottom: 20px;
}
#introduction p {
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 22px; }
#article {	
	padding-bottom: 20px;
	}

#article .article-entry {
	float: left;
	width: 300px;
	margin-right: 20px;
	margin-bottom: 10px;
	}

#article img.rss-img {
	float: right;
	width: 130px;
	height: auto;
	border: 5px solid #101010;
	background: #101010;
	margin-top: -20px;}

#article .excerpt {
	font-size: 12px;
	font-family: Georgia, Times;
	margin-bottom: 10px;
	width: 300px;
	line-height: 19px;}	
#article p.date {
	font-size: 11px;
	font-family: Arial, Helvetica;
	font-weight: bold;
	padding: 6px 0px 8px 0px;
	margin: 0;
	} 
#article .readmore {
	font-size: 11px;
	font-family: Arial, Helvetica;
	padding-top: 8px;
	text-decoration: none;
	margin-top: -2px;
	}

#sidebar {
	padding: 20px;
	float: left; }
#sidebar h2 {
	width: 116px;
	height: 12px;
	margin-bottom: 5px;
	text-indent: -9999px; 
}
#sidebar {
	margin-top: 7px; }
#sidebar h4, #article h4, #side-navigation li {
	font-family: Arial, Helvetica;
	font-weight: bold;
	line-height: 20px;
	font-size: 15px;
	margin: 4px 0px 0px 0px; }
#side-navigation li {
	line-height: 18px; }

#sidebar img {
	padding: 2px
}
#sidebar img:hover {
	padding: 1px;}
#sidebar .sidebar-entry {
	float: left;
	margin-top: 13px; }
#sidebar .sidebar-entry p, #body_work #portfolio-navigation ul li p, .information, #body_work .work-photos div p, #recent-blog-entries p {
	font-family: Arial, Helvetica, Lucida Grande, sans-serif;
	font-size: 11px;
	line-height: 16px;}


/* WORK PAGE  */



#body_work #portfolio-navigation {
	height: 530px;
	width: 295px;
	overflow: hidden;
	display: block;
	float: left; }
#body_work #portfolio-navigation ul {
	position: relative;
	top: 0;
	left: 0; }
#body_work #portfolio-navigation ul li {
	width: 295px;
	padding: 15px 0px;
	height: 75px;
	float: left;
	border-bottom: 1px solid #282828;
}
#body_work #portfolio-navigation ul li {
	color: #eaeaea;
	font-size: 13px;
	margin: 0px 0px 0px 2px; }
#body_work #portfolio-navigation ul li h4 {
	padding: 3px 3px 3px 0px;}
#body_work #portfolio-navigation ul li h4 a {
	color: #63bdab;
}
#body_work #portfolio-navigation ul li h4 a:hover {
	color: #367a6c; }
#body_work #portfolio-navigation ul li.current {
background-color: #0d0d0d;

}
#body_work #portfolio-navigation ul li:hover {
	background: #0d0d0d;}
#body_work #portfolio-navigation ul li h3 {
	float: left;}	
#body_work #portfolio-navigation ul li img {
	float: left;
	margin: 0px 10px 0px 0px;
}

#body_work #portfolio-scroll a {
	width: 147px;
	height: 57px;
	float: left;
	display: block;
	text-indent: -9999px; 
	}
#body_work #portfolio-scroll a#up {
	background: url(img/scrollup.gif) no-repeat; }
#body_work #portfolio-scroll a#down {
	background: url(img/scrolldown.gif) no-repeat; }
#body_work #portfolio-scroll a#up:hover, #body_work #portfolio-scroll a#down:hover {
	background-position: -147px 0px; }
#body_work #portfolio-scroll a#up:active, #body_work #portfolio-scroll a#down:active  {
	background-position: -294px 0px; }
#body_work ul#portfolio-scroll li a#up.nogo, #body_work ul#portfolio-scroll li a#down.nogo {
background-position: -441px 0px; }
#sidebar {
	width: 230px;
	float: right;
	}
.information {
	width: 172px;
	float: right;
	padding: 20px 20px 0px 20px;
	background: #0d0d0d;
	margin-top: 20px;
}
.information#photograph {
	padding-bottom: 10px;
}
#left-content .information {
	float: left;}
body#body_blog #left-content .information {
	width: 250px;}
body#body_contact .information {
	width: 210px; }
.information * {
	margin-bottom: 20px;}
.information img {
	margin-bottom: 5px; }
.information dl {
	float: left;
		 }
.information br {
	margin: 0;}
.information dt {
	float: left;
	margin-bottom: -2px;
	clear: left;
	width: 80px;
	color: #c1c1c1;
	font-weight: bold; }
.information dd {
	float: left;
	margin-bottom: 7px; }
.information li {
	line-height: 20px;
	margin-bottom: 0;
}
body#body_work #content {
	width: 370px;
	float: left;}
body#body_me #content {
	width: 470px;
	float: left; }
.img1 {
	margin-top: 140px; 
	float: left;}
#content p {
	line-height: 21px; }
#content p strong {
	font-family: Arial, Helvetica; 
	color: #d1cbbe;
	font-size: 12px;}
#content p.ingress {
	font-family: Georgia;
	font-style: italic;
	color: #b3ada1;
	line-height: 21px;
	font-size: 13px; }
/* WORK PAGINATION */
#dodo {
	width: 500px;
	float: left;}
#body_work #pagination-wrap { 
	width: 100%; 
	float: left;
	clear: both;
	overflow: hidden;  }
	
#body_work #pagination { 
	float: left;
	left: 50%;
	margin: 0 auto;
	padding: 0;
	position: relative; }	
#body_work #pagination-wrap #pagination li { 
	float: left;
	position: relative;
	right: 50%;
	margin-right: 1px; }
#body_work #pagination-wrap #pagination a {
	font-size: 10px;
	margin-right: 2px;
	height: 15px;
	width: 10px;
	line-height: 15px;
	padding-left: 4px;
	float: left;
	color: #FFF;
	text-decoration: none;
	background: url(/img/pagination.png) 0 0 no-repeat; }
#body_work #pagination-wrap  #pagination a:hover {
	background-position: -14px 0; }
#body_work #pagination-wrap #pagination a.activeSlide { background-position: -28px 0; }
/* .zoom {
	width: 31px;
	height: 30px; 
	background: url(img/zoom.png) no-repeat;
	float: left;
	border: 1px solid red;
	margin-top: -20px;}
	*/
#body_work .work-photos { 
    height:  385px;  
    width:   615px;  
    padding: 0;  
	overflow: hidden;
    margin:  0; } 
#body_work .work-photos div{
	position: relative; }
/*
#body_work .work-photos div a span {
	width: 31px;
	height: 30px;
	background: url(img/zoom.png) no-repeat -40px 0px;
	position: absolute;
	top: 355px;
	left: 10px; }
	
#body_work .work-photos div a:hover span {
	width: 31px;
	height: 30px;
	background: url(img/zoom.png) no-repeat;
	position: absolute;
	top: 335px;
	left: 20px; }
*/

.work-photos div p {
	position: absolute;
	top: 349px;
	left: 0;
	
	padding: 10px;
	width: 595px; 
	color: #c4c4c4;
	background: url(img/transparent.png);
	}
.work-photos img {  
    height:  385px;  
    width:   615px;  
    top:  0; 
    left: 0;  }	
#work-photos-navigation { 
	clear: both; 
	width: 591px; 
	padding: 10px 12px 10px 12px; 
	background: #222;
	float: left; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
	list-style-type: none;
	margin-bottom: 5px; }
#work-photos-navigation li {
	line-height: 15px; }
#work-photos-navigation li.next { 
	float: right
 }
#work-photos-navigation li.previous { 
	float: left; }
#work-photos-navigation li a { 
	color: #7aa5a5; 
	text-decoration: none; }
#work-photos-navigation li a:hover { 
	color: #a0d6d6; }

/* END WORK */

/* BLOG  */
#body_blog #right-content #article {
	padding-bottom: 10px;
	border-bottom: 3px solid #2e2e2e;
	margin-bottom: 30px;  }
#body_blog #right-content #content h2 {
	margin-bottom: -5px;
}
#body_blog #right-content #content p {
	font-family: Arial;
	font-size: 12px;
	line-height: 19px; }
#body_blog #right-content #content blockquote {
	line-height: 20px;
	font-style: italic;
	margin-bottom: 15px;
	color: #d3ab98;}	
#body_blog #right-content #content p.ingress {
	font-family: Georgia;
	font-style: italic;
	color: #c4c1ba;
	line-height: 21px;
	font-size: 13px; }
#body_blog #right-content #content img {
	margin-top: 10px; }
#body_blog #right-content #content p.imgtxt {
	background: #090909;
	padding: 5px 8px;
	font-size: 11px;
	color: #efb19c;
	 }
	
#body_blog #right-content #content p.date {
	width: 600px; 
	font-size: 11px;
	font-family: Arial, Helvetica;
	font-weight: bold;
	margin: -1px 0px 7px 0px;

	color: #a8a59d;
	float: left;
	}
#body_blog #right-content #content h3, #body_me #content h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #EEE;
	line-height: 27px;
	margin: 3px 0px;
}
#body_blog #right-content #content h3 em{
	font-family: Georgia;
	color: #ff8b62;
	font-weight: lighter;
	}
#body_blog #right-content #content h4, #body_blog #right-content #content h5   {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #d6c6a8;
	margin-bottom: 5px;
}

#body_blog #recent-blog-entries {
	width: 310px;
	float: left;
	font-family: Arial, Helvetica; }
#body_blog #recent-blog-entries ul {
	position: relative;
	top: 0;
	left: 0; }
#body_blog #recent-blog-entries ul li {
	width: 310px;
	padding: 15px 0px;
	float: left;
	border-bottom: 1px solid #282828;
	color: #eaeaea;
	margin: 3px 0px 0px 2px;
}

#body_blog #recent-blog-entries ul li h4 {
	margin: 2px 0px 3px;
	line-height: 18px;
}
#body_blog #recent-blog-entries ul li h4 a {
	color: #63bdab;
}
#body_blog #recent-blog-entries ul li h4 a:hover {
	color: #367a6c; }
#body_blog #recent-blog-entries ul li.current {
background-color: #0d0d0d;

}
#body_blog #recent-blog-entries ul li:hover {
	background: #0d0d0d;}

#body_blog #recent-blog-entries ul li img {
	float: left;
	margin: 0px 10px 0px 0px;
}

/* COMMENTS */

#body_blog #right-content #content #comments h2 {
	width: 90px;
	height: 12px;
	text-indent: -9999px;
	margin: 0;
	margin-bottom: 10px;
	background: url(/img/comments.gif) no-repeat; 
}
#body_blog #right-content #content #commentlist {
	padding-bottom: 20px; }
#body_blog #right-content #content #commentlist li {
	margin-bottom: 20px;
	border-bottom: 1px solid #2E2E2E; }
#body_blog #right-content #content #commentlist li h3 {
	margin-bottom: 2px;
	line-height: 22px; }	
#body_blog #right-content #content #commentlist li .date {
	float: right;
	font-size: 12px; 
	width: 200px;
	margin-top: 0px;
	text-align: right;
	}	
#body_blog #right-content #content #commentform {
	padding-top: 30px; }
#body_blog #right-content #content #commentform h3 { 
	width: 149px;
	height: 12px;
	background: url(/img/leaveacomment.gif) no-repeat;
	margin: 0; 
	text-indent: -9999px;
	margin-bottom: 10px;}
#body_blog #right-content #content #commentform legend{
	text-indent: -9999px; }

#body_blog #right-content #content #commentform li {
	width: 425px;
	float: left;
	margin-bottom: 10px; }
#body_blog #right-content #content #commentform li input, #commentform textarea {
	width: 308px;
	height: 14px;
	padding: 10px 8px 9px;
	border: 0;
	float: right;
	color: #959595;
	font-family: Arial;
	font-size: 11px;
	line-height: 17px;
	}
#body_blog #right-content #content #commentform input {
	background: url(img/contactinput.gif) no-repeat;
	 }
#body_blog #right-content #content #commentform div {
	width: 90px;
		height: 42px;
	padding-top: 2px;
	float: left;}
#body_blog #right-content #content #commentform li div#cc {
	width: 96px; }
#body_blog #right-content #content #commentform div p {
	font-family: Arial, Helvetica, sans-serif;
	clear: left;

	font-size: 11px; }
#body_blog #right-content #content #commentform input:focus {
	background-position: -324px 0px;
	color: #333;  }
#body_blog #right-content #content #commentform li textarea {
	height: 150px;
	background: #ffffff;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-bottom: 10px; }
#body_blog #right-content #content #commentform textarea:focus {
	color: #333;; 
	background-color: #ececeb;}
#body_blog #right-content #content #commentform input#sendcc {
	width: 13px;
	float: left;}
#body_blog #right-content #content #commentform label#labelcc {
	margin: 0px 0px 0px 6px;
	padding: 5px 0px 0px; }
#body_blog #right-content #content #commentform input#sendbutton {
	float: right; 
	width: 50px; 
	height: 28px;}
#body_blog #right-content #content #commentform label#sendstyle {
	width: 65px;
	height: 31px;
	background: url(img/contactsend.gif) no-repeat;
	float: right;
	}
#body_blog #right-content #content #commentform label {
	float: left;
	cursor: pointer;
	display: inline;
	font-family: Arial, Helvetica;
	font-weight: bold;
	font-size: 11px;
	color: #b3afa7; }	
	
/* ME */

#about-navigation {
	margin-top: 15px; }
#content h3.thingsicando {
	width: 133px;
	height: 12px;
	background: url(img/thingsicando.gif) no-repeat;
	text-indent: -9999px;
	margin: 15px 0px  }
ul.skills li {
	margin-bottom: 20px; }
ul.items li {
	list-style-type: circle;
	float: left; 
	margin-left: 20px;}


#footer-wrapper, .full_height {
     height: 100px; }

#footer-wrapper {
width: 100%;
bottom: 0;
margin-top: 40px;
left: 0;
clear: both;
float: left;
}
#footer {
	width: 960px; 
	margin: 0 auto;
	border-top: 1px solid #282828;
}
#footer p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 10px;
	font-color: #757575;
	font-weight: bold;
	line-height: 18px;	
}
#footer-copy {
	width: 300px;
	float: left;	
}
#quote {
width: 960px;
padding: 20px 0px 30px;
float: left;
font-family: Palatino;
font-weight: 100;
font-style: italic;
text-align: center;
font-size: 14px;
color: #444;}

#footer-links {
	width: 200px;
	float: right;
	text-align: right;}
