body {
    color: #5c5c5c;
    background: #fcfbf7;
    border-top: 6px solid #ff592c; }
a { color: #7aa5a5; }
a:hover { color: #a0d6d6; }
}
p a:hover { border-bottom: 1px solid #2d4040; }

#header-wrap {
    background: black;
    color: gray;
    }

#introduction { border-bottom: 1px solid #2e2e2e; }
#introduction p { color: #b3ada1; }
#article .excerpt {  color: #9b968c; }  
#article p.date { color: #a8a59d; } 
#article .readmore { border-top: 1px solid #282828; }

#sidebar { color: black; }
#sidebar h4, #article h4, #side-navigation li {
    color: black; }
#sidebar h4 a, #article h4 a, #side-navigation li a {
    color: #999999; }

    
    

.code_cell {
    padding: 1em;
    background-color: white;
    }