[submodule "content/notebooks/from_levels_and_colors"]
	path = content/notebooks/from_levels_and_colors
	url = https://gist.github.com/5628989.git
[submodule "content/notebooks/working_with_colors_in_mpl"]
	path = content/notebooks/working_with_colors_in_mpl
	url = https://gist.github.com/5636372.git
[submodule "content/notebooks/nbagg_backend"]
	path = content/notebooks/nbagg_backend
	url = https://gist.github.com/b9b0ea2ccfc16a04fb1c.git
[submodule "extras/pelican-plugins"]
    path = extras/pelican-plugins
    url = https://github.com/pelson/pelican-plugins.git
[submodule "content/notebooks/massive_virtual_arrays_with_biggus"]
	path = content/notebooks/massive_virtual_arrays_with_biggus
	url = https://gist.github.com/6139282.git
