[submodule "content/notebooks/from_levels_and_colors"]
	path = content/notebooks/from_levels_and_colors
	url = https://gist.github.com/5628989.git
[submodule "content/notebooks/working_with_colors_in_mpl"]
	path = content/notebooks/working_with_colors_in_mpl
	url = https://gist.github.com/5636372.git
[submodule "extras/pelican-plugins"]
    path = extras/pelican-plugins
    url = https://github.com/pelson/pelican-plugins.git
[submodule "content/notebooks/massive_virtual_arrays_with_biggus"]
	path = content/notebooks/massive_virtual_arrays_with_biggus
	url = https://gist.github.com/6139282.git
[submodule "content/notebooks/xkcd_font_glyph_extract"]
	path = content/notebooks/xkcd_font_glyph_extract
	url = git@gist.github.com:b80e3b3ab9edbda9ac4304f742cf292b.git
[submodule "content/notebooks/xkcd_font_stroke_classification"]
	path = content/notebooks/xkcd_font_stroke_classification
	url = https://gist.github.com/pelson/1d6460289f06acabb650797b88c15ae0
[submodule "content/notebooks/xkcd_font_svg_and_creation"]
	path = content/notebooks/xkcd_font_svg_and_creation
	url = git@gist.github.com:18434e3bd37dcde8dd28a5a24def0060.git
