{% extends "base.html" %}
{% set active_tags = article.tags %}


{% block title %}{{ article.title|striptags }} by {{ SITENAME }}{% endblock %}

{% block header %}
{{ super() }}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments-default.css">
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/notebook-styling.css">
{% endblock header %}

{% block content %}
<h2 id="single">{{ article.title }}</h2>
{% if article.summaryimg %}
<img class="article-image" src="{{ SITEURL }}/images/{{ article.slug }}/{{ article.summaryimg }}" alt="" /> {% endif %}
<div class="date entry-info">
  <div style="float: left; padding: 0.5em 1em 0.5em 0em;">
    <time datetime="{{ article.date.isoformat() }}" class="icon"></time>
    <div class="time-icon">
      <p class="year">{{ article.date.year }}</p>
      <p class="month">{{ article.date.strftime('%B') }}</p>
      <span class="day">{{ article.date.day }}</span>
    </div>
  </div>
  <p>Tags: 
    {% set articles_by_tag = dict(tags) %}

    {% for tag in article.tags|sort %}
    {% set tag_articles = articles_by_tag[tag] %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ tag_articles|length }})</a>
    {%- if not loop.last -%}, {% endif %}
    {% endfor %}
  </p>
</div>

<div class="entry">
  {{ article.content }}
</div>

<hr />

{% if GISCUS_REPO and GISCUS_REPO_ID and GISCUS_CATEGORY_ID %}
<script src="https://giscus.app/client.js"
        data-repo="{{ GISCUS_REPO }}"
        data-repo-id="{{ GISCUS_REPO_ID }}"
        data-category="{{ GISCUS_CATEGORY|default('Announcements') }}"
        data-category-id="{{ GISCUS_CATEGORY_ID }}"
        data-mapping="{{ GISCUS_MAPPING|default('pathname') }}"
        data-strict="{{ GISCUS_STRICT|default('0') }}"
        data-reactions-enabled="1"
        data-emit-metadata="{{ GISCUS_EMIT_METADATA|default('0') }}"
        data-input-position="{{ GISCUS_INPUT_POSITION|default('bottom') }}"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}

{% endblock content %}
