{% extends "base.html" %} {% set active_tags = article.tags %}
{% block title %}{{ article.title|striptags }} by {{ SITENAME }}{% endblock %} {% block extra_head %}
<script type="text/javascript">
  var switchTo5x = true;
</script>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
  stLight.options({
    publisher: "6668e56b-d9f6-4324-8c39-1543fefa1fdf",
    doNotHash: false,
    doNotCopy: false,
    hashAddressBar: false
  });
</script>
<style type="text/css">
    stButton_gradient {height: 100%;}
  </style>
{% endblock extra_head%} {% block content %}
  <h2 id="single">{{ article.title }}</h2>
  {% if article.summaryimg %}
  <img class="article-image" src="{{ SITEURL }}/images/{{ article.slug }}/{{ article.summaryimg }}" /> {% endif %}
  <div class="date entry-info">
    <p>{{ article.locale_date }}</p>
  </div>

  <div class="entry">
    {{ article.content }}
  </div>

  <hr />

  <div id="share_buttons">
    <span class="st_googleplus_hcount" displayText="Google +"></span>
    <span class="st_facebook_hcount" displayText="Facebook"></span>
    <span class="st_twitter_hcount" displayText="Tweet"></span>
    <span class="st_pinterest_hcount" displayText="Pinterest"></span>
    <span class="st_email_hcount" displayText="Email"></span>
    <span class="st_sharethis_hcount" displayText="ShareThis"></span>
    <span class="st_fblike_hcount" displayText="Facebook Like"></span>
  </div>
  <br /> {% if DISQUS_SITENAME %}

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = "{{ DISQUS_SITENAME }}";
    var disqus_identifier = "{{ article.slug }}";

    (function() {
      var dsq = document.createElement("script");
      dsq.type = "text/javascript";
      dsq.async = true;
      dsq.src = "//" + disqus_shortname + ".disqus.com/embed.js";
      (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
{% endblock content %}
