{% set NAV_LINKS=[['fa-home', SITEURL, 'Home'],
          ['fa-file-o', SITEURL + '/articles/', 'Articles'],
          ['fa-bullhorn', SITEURL + '/announce/', 'Announcements'],
          ['fa-map-o', SITEURL + '/field-notes/', '&nbsp;Field notes'],
          ['fa-list-ul', SITEURL + '/hints-n-tips/', 'Hints & Tips'],
          ] %}

{% block main %}
{% set active_page = None %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{{ SITEURL }}/theme/images/favicon.ico">

<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

<!-- Bootstrap core CSS -->
<link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">


<link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" /> 
<link rel="stylesheet" href="{{ SITEURL }}/theme/font-awesome/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">

{% block header %}
{% endblock %}
</head>

<!-- NAVBAR ================================================== -->
<body>
  <div class="container-fullwidth">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: inherit;">
      <div class="row">
        <div id="banner" class="col-md-3 shrinker">
          <div>
            <p class="by-phil">
              <a href="{{ SITEURL }}">
                Phil Elson's
              </a>
            </p> 
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="brand-icons">
            <div id="nav-sci" class="col-xs-4">
              <a href="{{ SITEURL }}">
                <i class="fa fa-icon fa-fw fa-flask"></i>
                <h2>Science</h2>
              </a>
            </div>

            <div id="nav-software" class="col-xs-4">
              <a href="{{ SITEURL }}">
                <i class="nav-icon fa fa-code"></i>
                <h2>Software</h2>
              </a>
            </div>

            <div id="nav-oss" class="col-xs-4">
              <a href="{{ SITEURL }}">
                <img src="{{ SITEURL }}/theme/images/osi_white.png">
                <h2>Open source</h2>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 nav-toggle">
          <i class="fa fa-bars"></i>
        </div>
      </div>
      {% block nav %}
      {% if not (active_page and active_page != 'Home') %}
      <script>var navbar_toggled = false;</script>
      {% endif %}
      <div class="actual-navbar {{ '' if active_page and active_page != 'Home' else 'shrink' }}">
        <ul class="nav navbar-nav">

          {% for icon, url, name in NAV_LINKS %}
          <li{% if active_page == name %} class="active"{% endif %}><a href="{{ url }}"><i class="fa fa-fw {{ icon }}"></i>{{ name }}
          {% if active_page == name %}
          <span class="sr-only">(current)</span>
          {% endif %}
        </a></li>
        {% endfor %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-clock-o"></i>Recent <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% if articles %} {% for article in articles[:5] %}
              <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
              {% endfor %} {% endif %}
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-tags"></i>Tags <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for tag, articles in tags|sort %}
                <li {% if tag in active_tags %}class="active" {% endif %}>
                  <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>

          </ul>
        </div>

      </nav>
      <div id="navbar-spacer"></div>
    </div>
    {% endblock %}
  </div>
</div>
<!-- Marketing messaging and featurettes -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  {% block sidebar %}{% endblock sidebar %}
  {% block content %} {% endblock content%}
  

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
      © 2016 Phil Elson · <a href="#">About</a> · <a href="#">Contact</a>
      · <a href="#"><i class="fa fa-fw fa-rss-square"></i>RSS</a>
    </p>
  </footer>

</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ SITEURL }}/theme/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/bootstrap.min.js"></script>

    <script src="{{ SITEURL }}/theme/js/scroll.js"></script>
    {% include 'analytics.html' %}
  </body>
  </html>

  {% endblock %}