<!DOCTYPE html>
<html class=" js inlinesvg">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles-bluegreen.css" id="theme-styles">

  <!-- Bootstrap styles -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/bootstrap/css/bootstrap-theme.min.css">

  <!-- Font-Awesome -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/font-awesome/css/font-awesome.min.css">

  <!-- Google Webfonts -->
  <link href="{{ SITEURL }}/theme/webfonts.css" rel="stylesheet" type="text/css">



  <!--[if lt IE 9]>
  <script src="theme/js/html5-3.6-respond-1.1.0.min.js"></script>
  <![endif]-->

  <script src="{{ SITEURL }}/theme/jquery.min.js"></script>

  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" /> {% block extra_head %} {% endblock extra_head%}

</head>

<body>


  <header>
    <div class="widewrapper masthead">
      <div class="container">
        <a href="{{ SITEURL }}/index.html" id="logo" class="h1">
        Phil Elson
      </a>
        <!--
        <div id="mobile-nav-toggle" class="pull-right">
          <a href="#" data-toggle="collapse" data-target=".pelson-nav .navbar-collapse">
            <i class="fa fa-bars"></i>
          </a>
        </div>

      <nav class="pull-right pelson-nav">
        <div class="collapse navbar-collapse">

          <ul class="nav nav-pills navbar-nav">

            <li class="dropdown active">
              <a class="dropdown-toggle" data-toggle="dropdown" href="index.html#">
                Blog
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% for cat, null in categories %}
                <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                <li><a href="theme/pelson - Blog.html">Blog</a></li>
                <li><a href="blog-detail.html">Blog Detail</a></li>
              </ul>
            </li>

            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="credits.html">Credits</a>
            </li>
          </ul>

        </div>
      </nav>
    -->
      </div>
    </div>

    {% block header %}

    <!--
  <div class="widewrapper subheader">
    <div class="container">
      <div class="pelson-breadcrumb">
        <a href="index.html#">Blog</a>
      </div>

      <div class="pelson-searchbox">
      <form action="#" method="get" accept-charset="utf-8">
      <button class="searchbutton" type="submit">
      <i class="fa fa-search"></i>
    </button>
    <input class="searchfield" id="searchbox" type="text" placeholder="Search">
  </form>
</div>

</div>
-->
    {% endblock %}
    </div>
  </header>

  <div class="widewrapper main">

    <div class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
        {% block content %} {% endblock content%}
        </div>
        <aside class="col-md-4 blog-aside">
          {% block sidebar %}{% endblock sidebar %}

          <div class="aside-widget">
            <header>
              <h3>Most recent articles</h3>
            </header>
            <div class="body">
              <ul class="pelson-list">
                {% if articles %} {% for article in articles[:5] %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %} {% endif %}
              </ul>
              {% if articles and articles|length > 5 %}
              <a href="{{ SITEURL }}/archives.html"><h4>See all articles</h4></a>
              {% endif %}
            </div>
          </div>

          {% if tags %} {% if not active_tags %} {% set active_tags = [] %} {% endif %}

          <div class="aside-widget">
            <header>
              <h3>Tags</h3>
            </header>
            <div class="body">
              <ul class="tags">

                {% for tag, articles in tags|sort %}
                <li {% if tag in active_tags %}class="active" {% endif %}>
                  <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %} {% if False and PAGES %}
          <div class="sidebar-entry">
            <h4>Pages</h4>
            <ul>
              {% for page in PAGES %}
              <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %} {% if LINKS %}
          <div class="sidebar-entry">
            <div class="widget blogroll">
              <h4>Blogroll</h4>
              <ul>
                {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}

              </ul>
            </div>
          </div>
          {% endif %}

        </aside>
      </div>
    </div>
  </div>

  <footer>
    <div class="widewrapper footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 footer-widget">
            <h3> <i class="fa fa-envelope"></i>Contact</h3>
            <ul class="unstyled">
              <li>
                <a href="http://github.com/pelson">
                  <i class="fa fa-github fa-3x"></i> @pelson on Github
                </a>
              </li>

              <li>
                <a href="https://twitter.com/pypelson">
                  <i class="fa fa-twitter fa-3x"></i> @pypelson
                </a>
              </li>

              <li>
                <a href="http://stackoverflow.com/users/741316/pelson">
                  <i class="fa fa-stack-overflow fa-3x"></i> @pelson on stackoverflow
                </a>
              </li>

              <li>
                <a href="http://uk.linkedin.com/in/philipelson/">
                  <i class="fa fa-linkedin-square fa-3x"></i> LinkedIn
                </a>
              </li>

              <li>
                <a href="https://bitbucket.org/pelson">
                  <i class="fa fa-bitbucket fa-3x"></i> Bitbucket
                </a>
              </li>

              <li>
                <a href="https://plus.google.com/u/1/103760955300350111400">
                  <i class="fa fa-google-plus-square fa-3x"></i> Google+
                </a>
              </li>

              <li>
                <a href="">
                  <i class="fa fa-envelope fa-3x"></i>
                  <span style="unicode-bidi:bidi-override; direction:rtl;">moc.liamg
                    <span style="display: none;">_ignore_</span>@golb+bup.noslep</span>
                </a>
              </li>
            </ul>

          </div>

          <div class="col-xs-6 footer-widget">
            <h3> <i class="fa fa-info-circle"></i>About</h3>
            <span>
              This site is generated using a combination of Pelican and IPython notebook, the source can be found at
              <a href="https://github.com/pelson/pelson.github.com">https://github.com/pelson/pelson.github.com</a>.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="widewrapper copyright">
      <div class="container">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
        <a href="https://pelson.github.io">
          <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">pelson.github.io</span>
        </a> is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </div>
    </div>
  </footer>

  <script src="{{ SITEURL }}/theme/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ SITEURL }}/theme/modernizr.js"></script>
  {% include 'analytics.html' %} {% include 'github.html' %}
</body>

</html>
