{% extends "article_archive.html" %}
{% from "article_archive.html" import render_articles with context %}

{% set active_page = 'Home' %}

{% block header %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="thumbnail welcome-card" style="padding: 1.5em 2em;">
      <img src="{{ SITEURL }}/theme/images/pelson.png" width="600" height="600" alt="Phil Elson" style="float: left; padding-right: 2em; margin-bottom: 1em; max-width: min(38vw, 10cm); height: auto;">

      <p>
        I am a technologist who loves to build tools and communities,
        often for scientists and engineers who do not consider their main job to be software engineering.
        This is the blog where I document my own discovery and intrigue, and occasionally announce things that I have created.
      </p>
      <p style="padding-top: 1em; line-height: 2em;">
        Professionally, I lead the Python 🐍 community for accelerator controls at
        CERN ⚛️. In the past, I was a tech lead for Python in the data analysis and
        visualisation community at the Met Office ⛅.
      </p>
      <p style="padding-top: 1em; line-height: 2em;">
        I've worked in the scientific Python community for many years, and
        even though I may now have moved on from the projects, I am proud of
        my past contributions:
      </p>
      {# Make the ul its own block formatting context so it doesn't wrap under
         the floated image mid-list. All bullets then share a single left
         edge, and that edge sits to the right of the image while paragraphs
         above still wrap freely. #}
      <ul style="line-height: 1.8; overflow: hidden; list-style: none; padding-left: 1em;">
        <li>📊 maintainer and steering-council member of <a href="https://matplotlib.org">matplotlib</a> during its 1.x evolution;</li>
        <li>🌦️ co-creator of <a href="https://scitools-iris.readthedocs.io/">Iris</a>, a data model and analysis library for numerical weather prediction. Iris was contemporary with the early days of pandas, and a direct influence on later tools such as xarray and dask;</li>
        <li>🗺️ creator of <a href="https://scitools.org.uk/cartopy/docs/latest/">cartopy</a>, a matplotlib-based library for geospatial visualisation, with particular attention to the dateline-wraparound cases that matter for global atmospheric and oceanographic modelling;</li>
        <li>📦 founder of <a href="https://conda-forge.org">conda-forge</a>, which brought together disparate scientific communities under a single packaging effort and still plays an important role in how the stack gets distributed today.</li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="row media-body">
  {% set posts = (articles_by_cat.get('article', []) + articles_by_cat.get('announce', []) + articles_by_cat.get('field-notes', []))|sort(attribute='date', reverse=True) %}
  {{ render_articles(posts, article_limit=1000) }}

  <hr class="featurette-divider">
  <div class="container">
    <div class="row">
      <p class="featurette-heading">
        Articles can also be found based on their tag:
      </p>
      <div class="col-md-6 col-md-offset-3 thumbnail">
       <ul class="tags">
        {% for tag, articles in tags|sort %}
        <li>
          <a href="{{ SITEURL }}/{{ tag.url }}"><span style="font-size: {{ articles|count|count_to_font_size }};">{{ tag }} </span>({{ articles|count }})</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <p class="featurette-heading">
    <a name="contact"></a>
    Contact me on social media:
  </p>
  <div class="row contact">
    <div class="col-xs-4 col-md-2">
      <a href="https://github.com/pelson"><i class="fa-brands fa-github"></i> @pelson</a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="https://bsky.app/profile/pelson.bsky.social"><i class="fa-brands fa-bluesky"></i>@pelson</a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="http://stackoverflow.com/users/741316/pelson"><i class="fa-brands fa-stack-overflow"></i>@pelson</a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="http://linkedin.com/in/philipelson/"><i class="fa-brands fa-linkedin"></i>@philipelson</a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="mailto:pelson.pub+blog@gmail.com">
        <i class="fa-solid fa-envelope"></i>gmail: pelson.pub
      </a>
    </div>
  </div>
</div>
{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}
