{% extends "base.html" %}
{% set active_tags = article.tags %}
{% block headers %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/ipython.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/post_colours.css" type="text/css" media="screen">
{% endblock %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}
{% block content %}

        <div class="">
            <h2 id="single">{{ article.title }}</h2>
            <div class="date entry-info"><p>Tuesday - March 2nd, 2010</p></div>
            <div class="entry">
                {{ article.content }}
            </div>
        </div>

{% endblock %}
