{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

        {% block intro %}
        <div id="introduction">
            <p>
            Welcome to this collectanea of posts relating to the science
            and technology world, more often than not presented through the medium of Python.
            </p>
        </div>
        {% endblock intro %}


        {% if articles %}
        <div id="article">
        {% for article in articles %}
            <div class="article-entry">
                <a href="{{ SITEURL }}/{{ article.url }}">
                {% if article.summaryimg %}
                <img src="{{ SITEURL}}/static/images/{{ article.slug }}/{{ article.summaryimg }}" class="rss-img" />
                {% else %}
                <img src="{{ SITEURL}}/static/images/IPython.png" class="rss-img" />
                {% endif %}
                </a>
             
                <h4><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h4>
                
                <p class="date">{{ article.locale_date }}</p> 
                <p class="excerpt">
                {{ article.summary }}
                </p> 
                <a href="{{ SITEURL }}/{{ article.url }}" class="readmore">
                    <i class="icon-arrow-right icon-1x"></i>Read more
                </a>
            </div> 
        {% endfor %}
        </div>
        {% endif %}

{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}
