body {
    color: black;
    background: #fcfbf7;
    border-top: 6px solid #ff592c;
}
    
#footer p { color: rgb(122, 165, 165); }
a { color: #7aa5a5; }
a:hover { color: #a0d6d6; }
}

p a:hover { border-bottom: 1px solid #2d4040; }

#header-wrap {
    background: black;
    color: gray;
    }

.date { color: #a8a59d; }

#article .excerpt {  color: #9b968c; }
#article .article-entry { border-top: 1px solid #282828; }
#article .article-entry { font-color: black; }

#sidebar { color: black; }
#sidebar h4, #article h4, #article h4 a, #side-navigation li {
    color: black; }
#sidebar h4 a, #side-navigation li a {
    color: #999999; }

.code_cell {
    padding: 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-color: gray;
    background-color: white;
    display: visible;
    }

.rendered_html code {
    background-color: #fcfbf7;
    font-family: monospace;
    font-weight: bold;
}

#header #site-navigation li.active {
    border-top: solid 3px #ff592c;
    border-bottom: solid 3px #ff592c;
}