{% extends "base.html" %}
{% set active_tags = article.tags %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}
{% block extra_head %}
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">
            stLight.options({publisher: "6668e56b-d9f6-4324-8c39-1543fefa1fdf",
                            doNotHash: false, doNotCopy: false, hashAddressBar: false});
        </script>
{% endblock extra_head%}
{% block content %}

        <div class="">
            <h4 id="single">{{ article.title }}</h4>
            <div class="date entry-info"><p>{{ article.locale_date }}</p></div>
            <div class="entry">
                {{ article.content }}
            </div>
        </div>
        
        <hr />
        
        <div id="share_buttons">
            <span class='st_googleplus_hcount' displayText='Google +'></span>
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_pinterest_hcount' displayText='Pinterest'></span>
            <span class='st_email_hcount' displayText='Email'></span>
            <span class='st_sharethis_hcount' displayText='ShareThis'></span>
            <span class='st_fblike_hcount' displayText='Facebook Like'></span>
        </div>
        <br />
        
        {% if DISQUS_SITENAME %}
        
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ DISQUS_SITENAME }}';
    
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}

{% endblock content %}

{% block sidebar %}
            {% if article.summaryimg %}
            <div class="sidebar-entry">
                <img src="{{ SITEURL}}/images/{{ article.slug }}/{{ article.summaryimg }}" class="rss-img" />
            </div>
            {% endif %}
            {% if article and article.is_notebook %}
            <div class="sidebar-entry">
                <h4>About this article</h4>
                <p>This article has been written in an IPython notebook.</p>
                
                {% if article.gist_url %}
                <p>You can view the Github gist for this notebook at 
                <a href="{{ article.gist_url }}">{{ article.gist_url }}</a>.</p>
                {% endif %}
                
                {% if article.nbviewer_url %}
                <p>For a rendered version of this notebook in nbviewer see 
                <a href="{{ article.nbviewer_url }}">{{ article.nbviewer_url }}</a>.</p>
                {% endif %}
            </div>
            {% endif %}
{% endblock sidebar %}
