{% extends "base.html" %} {% block content_title %}{% endblock %} {% block content %}

<div class="col-md-8 blog-main">
  {% if articles %}
  <div id="article">
    {% for article in articles %} {% if loop.index % 2 == 0 %}
    <div class="row">
      {% endif %}

      <div class="col-md-6 col-sm-6">
        <article class=" blog-teaser">
          <header>
            {% if article.summaryimg %}
            <a href="{{ article.url }}">
            <img src="{{ SITEURL }}/images/{{ article.slug }}/{{ article.summaryimg }}" class="rss-img" /> {% else %}
            <img src="{{ SITEURL }}/images/IPython.png" class="rss-img" />
            </a>
            {% endif %}

            <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
            <span class="meta">{{ article.locale_date }}</span>
            <hr>
          </header>
          <div class="body">
            {{ article.summary }}
          </div>
          <div class="clearfix">
            <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-tales-one">Read more</a>
          </div>
        </article>
      </div>

      {% if loop.index % 2 == 0 %}
    </div>
    {% endif %} {% endfor %}
  </div>
  {% endif %}

</div>

{% endblock content %} {% block sidebar %} {% endblock sidebar %}
